- if members.empty?
  %div.list-group-item
    メンバーがいません
= div_for members, class: "list-group-item" do |t|
  %span.user-name#t.id
    = image_tag t.user.image.url
    = link_to t.user.name, user_path(t.user)
    = t.user.nickname
