/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
 /* universal */
.clear {
  clear:both;
}

.profile-image{
  margin-right: 10px;
}

a.btn:visited {
  color:#fff;
}

.description{
  margin:10px;
}

.profile-image{
  width:50px;
  height:50px;
}

.field_with_errors {
  @extend .form-group;
  @extend .has-error;
}

.from-twitter{
  color: #fff;
  background-color: #00ACED;
  border-color: #00ACED;
}
.btn-github {
   color: #fff;
   background-color: #333333;
   border-color: #333333;
}
.btn-facebook {
   color: #fff;
   background-color: #43609C;
   border-color: #43609C;
}
/* header */
.navbar-brand{
  background: url("title.png") no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 50px;
}
.btn-twitter {
   color: #fff;
   background-color: #00ACED;
   border-color: #00ACED;
}
.btn-github {
   color: #fff;
   background-color: #333333;
   border-color: #333333;
}
.btn-facebook {
   color: #fff;
   background-color: #43609C;
   border-color: #43609C;
}
.login-drop{
  padding:2px;
}
.login-btns{
  margin-top:1px;
  margin-bottom:1px;
}
