// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event_list{
  padding-top: 20px;
}
.event-info{
  padding:20px;
}

.tweet_field{
  margin-bottom:-10px;
}

a.styled:hover{
  color: #333;
  background-color: transparent;
}
